{% extends "base.html" %}
{% block content %}
<div class="d-flex">
<div class="d-inline p-2" style="width: 80%">
    {% for game in games %}
    <div class="p-2 m-3 d-flex rounded border text-light">
        <div class="d-inline ml-2">
            {% if game.steam_game %}
                <h3>{{ game.steam_game.name }}</h3>
            {% else %}
                <h3>{{ game.egs_game.name }}</h3>
            {% endif %}
            <div class="d-flex">
                {% if game.steam_game %}
                    <img src="{{ game.steam_game.header_image }}" class="rounded" height="150px">
                {% else %}
                    <img src="{{ game.egs_game.image_2 }}" class="rounded" height="150px">
                {% endif %}
                <!-- Steam Price -->
                {% if game.steam_game %}
                <div class="d-inline ml-5 p-2 text-center border-right">
                    <a class="btn btn-default text-center" href="https://store.steampowered.com/app/{{ game.steam_game.steam_appid }}">
                        Buy at <img src="{{ url_for('static', filename='img/steam-logo.png') }}" class="rounded shop-button" height="50px">
                    </a>
                    {% if game.steam_game.is_free == 0 %}
                        <h4>Price: <small>{{ game.steam_game.final_price / 100 }} ₽</small></h4>
                    {% else %}
                        <h4>Price: <small>Free</small></h4>
                    {% endif %}
                </div>
                {% endif %}
                <!-- EGS Price -->
                {% if game.egs_game %}
                <div class="d-inline p-2 text-center">
                    <a class="btn btn-default" href="{{ game.egs_game.url }}">
                        Buy at <img src="{{ url_for('static', filename='img/egs-logo.png') }}" class="rounded shop-button" height="50px">
                    </a>
                    <h4>Price: <small>{{ game.egs_game.final_price / 100 }} ₽</small></h4>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Follow -->
        <div>
            <a class="btn btn-primary" href="/follow/{{ game.id }}" role="button" style="margin-left: 100px; padding: 20px">Follow</a>
        </div>

    </div>
    {% endfor %}
</div>
    <!--
        <nav class="site-header position-fixed p-3 m-3 rounded" style="right: 0;width: 19%;">
            <h3 class="text-light text-center">Filter</h3>
            <form novalidate method="post">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="up_price" name="price" value="up" checked>
                    <label class="form-check-label" for="up_price">
                        Price up
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="down_price" name="price" value="down">
                    <label class="form-check-label" for="down_price">
                        Price down
                    </label>
                </div>
                <p class="border-bottom"></p>
                <button type="submit" class="btn btn-primary">Sort</button>
            </form>
        </nav>
        -->
</div>
{% endblock %}