{% extends "base.html" %}
{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h1 class="lead">FIND THE BEST PRICE FOR YOUR GAME</h1>
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="vector"><img src="static/img/save-money-lg.png" alt="save-money"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <img src="static/img/imac_S_1.png" alt="imac" align="left" width="300px">
      <div class="keyboard">
        <img src="static/img/keyboard_S 1.png" alt="keyboard" align="right" width='290px'>
      </div>
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
        <div class="search">
          <p class="lead">FAST SEARCH</p>
          <div class="form__group">
            <input type="text" class="form__input" id="name" placeholder="Game name here" required="" />
            <label for="name" class="form__label">Game name</label>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
